/*
Design by Free CSS Templates
http://www.freecsstemplates.org
Released for free under a Creative Commons Attribution 2.5 License
*/
* {
	margin: 0;
	padding: 0;
}



body {
	background: #FFFFFF url(images/img01.gif) repeat-x;
	font: normal small Arial, Helvetica, sans-serif;
	color: #000000;
}

form {
}

fieldset {
	border: none;
}

legend {
	display: none;
}

input {
	font-size: 12px;
	height: 16px;
	font-weight: bold;
}

.button {
	padding: 0px 10px 5px 10px;
	height: 20px;
	background: #F1F1F1;
	border: 1px solid #acacac;
}

h1, h2, h3 {
	margin: 0;
	color: #11A6D4;
}

h2 {
	margin-bottom: .5em;
	font-size: 1.8em;
}

h3 {
	margin-bottom: 1em;
	font-size: 1em;
}

p, blockquote, ul, ol {
	margin-bottom: 1.5em;
	line-height: 1.8em;
}

p {
}

blockquote {
}

ul {
	margin-left: 2em;
	list-style: square;
}

ul li {
}

ol {
	margin-left: 2em;
	list-style: lower-roman;
}

ol li {
}

a {
	color: #EA672E;
	text-decoration: none;
}

a:hover {
	text-decoration: none;
	color: #11A6D4;
}

img {
	border: none;
}

/* Boxed Style */

.boxed {
	margin-bottom: 1em;
	background: #F7F7F7 url(images/img07.gif) repeat-x;
	border: 1px solid #CCCCCC;
}

.boxed .title {
	height: 29px;
	padding: 11px 0 0 27px;
	background: url(images/img08.gif) no-repeat 10px 50%;
	text-transform: uppercase;
	font-size: 1.2em;
	color: #FFFFFF;
}

.boxed .content {
	padding: 10px;
}

/* Header */

#header 

/* Header > Logo */

#logo {
	float: left;
	padding: 65px 0 0 0;
}

#logo h1 {
	font-size: 2em;
}

#logo h2 {
	margin: 0;
	font-size: 1.2em;
}

#logo a {
	text-decoration: none;
	color: #FFFFFF;
}

/* Header > Top Menu */

#topmenu {
	float: right;
}

#topmenu ul {
	margin: 0;
	padding: 100px 0 0 0;
	list-style: none;
	line-height: normal;
}

#topmenu li {
	display: inline
}

#topmenu a {
	display: block;
	float: left;
	margin: 0 0 0 20px;
	padding: 0 0 0 15px;
	text-transform: uppercase;
	text-decoration: none;
	font-size: x-small;
	font-weight: bold;
	color: #FFFFFF;
}

#topmenu a:hover {
	text-decoration: underline
}

#topmenu1 {
	background: url(images/img03.gif) no-repeat left center;
}

#topmenu2 {
	background: url(images/img04.gif) no-repeat left center;
}

#topmenu3 {
	background: url(images/img05.gif) no-repeat left center;
}

/* Menu */

#menu {
	height: 40px;
	margin: 0 auto;
}

#menu ul {
	margin: 0;
	list-style: none;
	line-height: normal;
}

#menu li {
	display: inline;
}

#menu a {
	display: block;
	float: left;
	height: 26px;
	padding: 14px 18px 0 20px;
	background: url(images/img06.gif) no-repeat;
	text-transform: uppercase;
	text-decoration: none;
	font-weight: bold;
}

#menu a:hover {
	text-decoration: underline;
}

#menu .first a {
	padding-left: 0;
	background: none;
}

/* Content */

#content {
	width: 96%;
	padding: 1%;
}

/* Content > Main */

#main {
 	float: left;
 	width: 100%;
 	padding-left: 20px;
}

/* Content > Sidebar */

#sidebar {
	width: 250px;
}

/* Content > Sidebar > Login */

#login {
}

#login label {
	display: block;
}

#login #inputtext1, #login #inputtext2 {
	width: 180px;
	margin-bottom: .5em;
	padding: 2px 5px;
	border: 1px solid #CCCCCC;
	font: normal small Arial, Helvetica, sans-serif;
	color: #999999;
}

#login #inputsubmit1 {
	float: right;
	width: 60px;
	margin-right: 7px;
	border: 1px solid #CCCCCC;
	border-top-color: #FFFFFF;
	border-left-color: #FFFFFF;
	font: normal small Arial, Helvetica, sans-serif;
}

#login p {
	margin: 0;
	padding-top: .2em;
	font-size: x-small;
}

/* Content > Sidebar > Updates*/

#updates {
}

#updates ul {
	margin: 0;
	list-style: none;
}

#updates li {
	margin-bottom: 1em;
}

#updates h3 {
	margin: 0;
	padding: 0 0 0 10px;
	background: url(images/img09.gif) no-repeat left center;
	font-size: x-small;
}

#updates p {
	margin: 0;
	padding: 0 0 0 10px;
	line-height: normal;
	font-size: .85em;
}

#updates a {
	text-decoration: none;
}

/* Content > Sidebar > Partners*/

#partners {
}

/* Footer */

#footer {
	clear: both;
	width: 95%;
	margin: 0 auto 2em auto;
	background: #F7F7F7 url(images/img07.gif) repeat-x;
	border: 1px solid #CCCCCC;
}

/* Footer > Legal */

#legal {
	margin: 0;
	padding: 8px;
	text-align: center;
	color: #FFFFFF;
}

#legal a {
	font-weight: bold;
	color: #FFFFFF;
}

/* Footer > Links */

#links {
	margin: 0;
	padding: 10px;
	text-align: center;
}

.help {
	font-size: 10px;
	color: #888888;
}

.err_notice {
	border: 1px solid #E4B9B9;
	padding: 10px 0px 10px 90px;
	min-height: 44px;
	background: #F9E6E6 url(/templates/default/img/error.gif) no-repeat left;
	margin-bottom: 20px;
}

.ok_notice {
	border: 1px solid #B5D7AF;
	padding: 10px 0px 10px 90px;
	min-height: 44px;
	background: #D8FFD2 url(/templates/default/img/ok.gif) no-repeat left;
	margin-bottom: 20px;
}



/********************************************
   AUTHOR:  			Erwin Aligam 
   WEBSITE:   			http://www.styleshout.com/
   TEMPLATE NAME: 	Underground
	TEMPLATE CODE:		S-0006
   VERSION:          1.1          	
 *******************************************/
 
/********************************************
   HTML ELEMENTS
********************************************/ 

/* top elements */
/* { margin: 0;	padding: 0; } */

body {
	margin: 0; padding: 0;
	font: 13px Trebuchet MS;
	color: #333; 
	background: #FFF url(/templates/redwhite/images/bg.gif) repeat-x;	
}

/* links */
a {
	color: #003366;
	background-color: inherit;
	text-decoration: none;
}
a:hover {
	color: #CC0001; 
	background-color: inherit;
}

/* headers */
h1, h2, h3 {
	font-family: Trebuchet MS;
	font-weight: bold;
	color: #333;
}
h1 {
	font-size: 110%;
	letter-spacing: .5px;
}
h2 {
	font-size: 105%;	
	text-transform: uppercase; 		
}
h3 {
	font-size: 105%;
	color: #003366;		
}

/* images */
img {
	border: 0px solid #CCC;
}
img.float-right {
  margin: 5px 0px 10px 10px;  
}
img.float-left {
  margin: 5px 10px 10px 0px;
}

h1, h2, h3, p {
	padding: 0;		
	margin: 10px;
}

ul, ol {
	margin: 10px 20px;
	padding: 0 20px;
}

code {
  margin: 10px 0;
  padding: 10px;
  text-align: left;
  display: block;
  overflow: auto;  
  font: 500 1em/1.5em 'Lucida Console', 'courier new', monospace;
  /* white-space: pre; */
  background: #FAFAFA;
  border: 1px solid #f2f2f2;  
  border-left: 4px solid #CC0000;
}
acronym {
  cursor: help;
  border-bottom: 1px solid #777;
}
blockquote {
	margin: 0px;
 	padding: 5px 5px 5px 40px;  	
  	background: #FAFAFA url(/templates/redwhite/images/quote.gif) no-repeat 5px 10px !important; 
	background-position: 8px 10px;
	border: 1px solid #f2f2f2; 
	border-left: 4px solid #CC0000;  
}

/* form elements */
form {
	margin:0px; padding: 0px 0px;
	/*border: 1px solid #EAEAEA; 
	background-color: #FAFAFA; */
}
label {
	font-weight:bold;
	margin:5px 0;
}
input, select {
	padding: 2px;
	border:1px solid #ccc;
	font: normal 1em Trebuchet MS;
	color:#777;
	/*width:120px;*/
}
textarea {
	width:500px;
	padding:2px;
	font: normal 1em Trebuchet MS;
	border:1px solid #ccc;
	height:100px;
	display:block;
	color:#777;
}
input.button { 
	margin: 0; 
	font: bolder 12px Trebuchet MS; 
	border: 1px solid #CCC; 
	padding: 1px; 
	background: #FFF;
	color: #CC0000;
	cursor: pointer;
	width: auto;
}
/* search form */
form.search {
	position: absolute;
	top: 5px; right: 5px;
	padding: 0; margin: 0;
	border: none;
	background-color: transparent; 
}
form.search input.textbox { 
	margin: 0; 
	width: 120px;
	border: 1px solid #CCC; 
	background: #FFF;
	color: #333; 
}
form.search input.searchbutton { 
	margin: 0; 
	font-size: 100%; 
	font-family: Trebuchet MS; 
	border: 1px solid #CCC; 
	background: #FFFFFF url(/templates/redwhite/images/headerbg.gif) repeat-x bottom left; 
	padding: 1px; 
	font-weight: bold; 
	height: 23px;
	color: #333;
	width: 60px;
}
.as {
	width: auto;
}	
/**********************************
  LAYOUT 
***********************************/
#wrap {
	margin: 0 auto; 
	width: 980px;
}

/* header */
#header {
	position: relative;
	margin: 0; padding: 0;
	height: 60px;

}
#header span#slogan {
	z-index: 3;
	position: absolute;
	left: 3px; bottom: 7px;
	font: bold 12px Trebuchet MS;	
	color: #FFF;	
}

#header-logo {
	position: relative;
	clear: both;
	height: 50px; 
	margin: 0; padding: 0;	
}
#header-logo #logo {
	position: absolute;
	top: 3px; left: 5px;
	font: bold 30px "trebuchet MS";
	margin: 0; padding: 0;
	letter-spacing: -1px;
	color: #000;
}

/* navigation tabs */
#header ul {
	position: absolute;
   margin:0;
   list-style:none;
	right:-18px ; bottom: 3px;
	font: bold 13px Trebuchet MS;
	

}
#header li {
   display:inline;
   margin:0; padding:0;
}
#header a {
   float:left;
   background: url(/templates/redwhite/images/tableft.gif) no-repeat left top;
   margin:0;
   padding:0 0 0 4px;
   text-decoration:none;
}
#header a span {
   float:left;
   display:block;
   background: url(/templates/redwhite/images/tabright.gif) no-repeat right top;
   padding:5px 15px 4px 6px;
   color:#FFF;
}
/* Commented Backslash Hack hides rule from IE5-Mac \*/
#header a span {float:none;}
/* End IE5-Mac hack */
#header a:hover span {
	color:#FFF;
}
#header a:hover {
   background-position:0% -42px;
}
#header a:hover span {
   background-position:100% -42px;
}
#header #current a {
   background-position:0% -42px;
}
#header #current a span {
   background-position:100% -42px;
}

/* main column */
#main {
	float: right;
	margin: 0; padding: 0;
	width: 745px;	
}
#main h1 {
	margin: 10px 0;
	padding: 4px 0 4px 8px; 
	color: #FFF;
	text-transform: uppercase; 
	background-color: #CC0000;	
	letter-spacing: .5px;
	font: bold 13px Trebuchet MS;
}

/* sidebar */
#sidebar {
	float: left;
	width: 220px;
	margin: 0; padding: 0; 
	background-color: #FFFFFF; 	
}
#sidebar h1 {
	margin: 10px 0 0 0; 
	padding: 4px 0 4px 8px; 
	font: bold 13px Trebuchet MS;
	color: #FFF;
	text-transform: uppercase; 
	background: #333; 
	letter-spacing: 1px;	
}
#sidebar .left-box {
	border: 1px solid #EBEBEB;
	margin: 0 0 5px 0;	
	background: #FFF;
}
#sidebar ul.sidemenu {
	list-style: none;
	text-align: left;
	margin: 3px 0px 8px 0; padding: 0;
	text-decoration: none;		
}
#sidebar ul.sidemenu li {
	border-bottom: 1px solid #f2f2f2; 
	background: url(/templates/redwhite/images/bullet.gif) no-repeat 3px 2px;	
	padding: 3px 5px 3px 25px;
	margin: 0;	
}
#sidebar ul.sidemenu a {
	font-weight: bolder;
	padding: 3px 0px;	
	background: none;
}

#main A {
	text-decoration: underline;
}

/* footer */
.footer { 
	clear: both; 	
	border-top: 1px solid #f2f2f2;
	background: #FFF url(/templates/redwhite/images/footerbg.gif) repeat-x;
	padding: 5px 0; 
	text-align: center;  
	line-height: 1.5em;	
	font-size: 95%;
	color: gray;
}
.footer a { 
	text-decoration: none; 
	font-weight: bold;		
}

/* alignment classes */
.float-left  { float: left; }
.float-right { float: right; }
.align-left  { text-align: left; }
.align-right { text-align: right; }

/* display and additional classes  */
.clear {	clear: both; }
.red   { color: #CC0000; }
.comments { 
	margin: 20px 10px 5px 10px; 
	padding: 3px 0;
	border-bottom: 1px dashed #EFF0F1; 	
	border-top: 1px dashed #EFF0F1;	
}

SMALL { font-size: 11px; color: gray; }

.b1 { background: #DFDFDF; font-size: 100%;}
.b2 { background: #F6F6F6; font-size: 100%;}
.b3 { background: #FFFFFF; font-size: 95%;}
.b4 { background: #FFFFFF; font-size: 90%;}